<h1>
  {{title}}
</h1>

<div *ngIf="(item | async)" id="details-container">

  <div>
    <md-input-container>
      <input type="number" mdInput id="jobid" placeholder="Job ID" [(ngModel)]="values.jobid" disabled class="number">
    </md-input-container>  

    <md-input-container *ngIf="(item | async)">
      <input mdInput [mdDatepicker]="entrydatepicker" id="entrydate" placeholder="Entry Date" [(ngModel)]="values.entrydate" class="date"/>
      <button mdSuffix [mdDatepickerToggle]="entrydatepicker"></button>
    </md-input-container>
    <md-datepicker #entrydatepicker></md-datepicker>

    <span *ngIf="(entry | async)">
        <md-select placeholder="Entry Name" [(ngModel)]="values.entry">
          <md-option *ngFor="let entry of listentry" [value]="entry.name">{{ entry.name }}</md-option>
        </md-select>
    </span>

    <md-input-container *ngIf="(item | async)">
      <input mdInput id="jobname" placeholder="Job Name" [(ngModel)]="values.jobname" />
    </md-input-container>

    <md-input-container >
      <textarea mdInput id="notes" placeholder="Notes" [(ngModel)]="values.notes" >
      </textarea>
    </md-input-container>  

    <md-input-container *ngIf="(item | async)">
      <input mdInput [mdDatepicker]="pubdatepicker" id="pubdate" placeholder="Pub Date" [(ngModel)]="values.pubdate" class="date"/>
      <button mdSuffix [mdDatepickerToggle]="pubdatepicker"></button>
    </md-input-container>
    <md-datepicker #pubdatepicker></md-datepicker>

    <md-input-container>
      <input type="number" mdInput id="pagecount" placeholder="Text Pgs" [(ngModel)]="values.pagecount" class="number" />
    </md-input-container>  

    <md-input-container>
      <input type="number" mdInput id="coverpagecount" placeholder="Cover Pgs" [(ngModel)]="values.coverpagecount" class="number" />
    </md-input-container>  

    <span *ngIf="(formattypes | async)">
      <md-select placeholder="Format" [(ngModel)]="values.format">
        <md-option *ngFor="let formattype of listformattypes" [value]="formattype.name">{{ formattype.name }}</md-option>
      </md-select>
    </span>
  </div>

  <div>
    <md-input-container>
      <input type="number" mdInput id="quantity" placeholder="Total Requested" [(ngModel)]="values.quantity" class="number" />
    </md-input-container>  

    <md-input-container>
      <input type="number" mdInput id="billablecopies" placeholder="Billable Copies" [(ngModel)]="values.billablecopies" class="number" />
    </md-input-container>  

    <md-input-container>
      <input type="number" mdInput id="officecopies" placeholder="Office Copies" [(ngModel)]="values.officecopies" class="number" />
    </md-input-container>  

    <md-input-container>
      <input type="number" mdInput id="samplesqty" placeholder="Samples" [(ngModel)]="values.samplesqty" class="number" />
    </md-input-container>  

    <md-checkbox [(ngModel)]="values.bluelines">Bluelines</md-checkbox>

    <md-checkbox [(ngModel)]="values.bindery">Bindery</md-checkbox>

    <span *ngIf="(bindingtypes | async)">
        <md-select placeholder="Binding Type" [(ngModel)]="values.bindingtype">
          <md-option *ngFor="let bindingtypes of listbindingtypes" [value]="bindingtypes.name">{{ bindingtypes.name }}</md-option>
        </md-select>
    </span>

    <md-checkbox [(ngModel)]="values.uv">UV</md-checkbox>

    <md-checkbox [(ngModel)]="values.inkjet">Inkjet</md-checkbox>

    <md-input-container *ngIf="(item | async)">
      <input mdInput [mdDatepicker]="mailfilesdueinpicker" id="mailfilesduein" placeholder="Mail Files Due In" [(ngModel)]="values.mailfilesduein" class="date" />
      <button mdSuffix [mdDatepickerToggle]="mailfilesdueinpicker"></button>
    </md-input-container>
    <md-datepicker #mailfilesdueinpicker></md-datepicker>

    <md-checkbox [(ngModel)]="values.cuttingrequired">Cutting Req</md-checkbox>

    <md-checkbox [(ngModel)]="values.foldingrequired">Outside Folding</md-checkbox>

    <md-checkbox [(ngModel)]="values.inserting">Inserting</md-checkbox>

    <md-checkbox [(ngModel)]="values.presscheck">Press Check</md-checkbox>

    <md-input-container>
      <input type="number" mdInput id="bindingpockets" placeholder="Binding Pockets" [(ngModel)]="values.bindingpockets" class="number" />
    </md-input-container>  
  </div>

  <div>
    <md-input-container>
      <input type="number" mdInput id="textsigs" placeholder="Text Sigs" [(ngModel)]="values.textsigs" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig1" placeholder="Sig 1" [(ngModel)]="values.sig1" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig2" placeholder="Sig 2" [(ngModel)]="values.sig2" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig3" placeholder="Sig 3" [(ngModel)]="values.sig3" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig4" placeholder="Sig 4" [(ngModel)]="values.sig4" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig5" placeholder="Sig 5" [(ngModel)]="values.sig5" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig6" placeholder="Sig 6" [(ngModel)]="values.sig6" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig7" placeholder="Sig 7" [(ngModel)]="values.sig7" class="number" />
    </md-input-container>

    <md-input-container>
      <input type="number" mdInput id="sig8" placeholder="Sig 8" [(ngModel)]="values.sig8" class="number" />
    </md-input-container>

    <md-input-container *ngIf="(item | async)">
      <input mdInput [mdDatepicker]="datepromisedpicker" id="datepromised" placeholder="Date Promised" [(ngModel)]="values.datepromised" class="date" />
      <button mdSuffix [mdDatepickerToggle]="datepromisedpicker"></button>
    </md-input-container>
    <md-datepicker #datepromisedpicker></md-datepicker>

    <md-input-container *ngIf="(item | async)">
      <input mdInput id="timepromised" placeholder="Time Promised" [(ngModel)]="values.timepromised" />
    </md-input-container>
  </div>

  <md-card *ngIf="(item | async)">
    <md-card-title>Pre Press</md-card-title>

    <md-card-content>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="prepressfilesdueinpicker" id="prepressfilesduein"
          placeholder="Files Due In" [(ngModel)]="values.prepressfilesduein" class="date"/>
        <button mdSuffix [mdDatepickerToggle]="prepressfilesdueinpicker"></button>
      </md-input-container>
      <md-datepicker #prepressfilesdueinpicker></md-datepicker>

      <md-checkbox [(ngModel)]="values.customerproofs">Customer Proofs</md-checkbox>
      <md-checkbox [(ngModel)]="values.pressproofs">Press Proofs</md-checkbox>
    </div>

    <div>
      <md-input-container >
        <textarea mdInput id="specialinstructions" placeholder="Special Instructions" [(ngModel)]="values.specialinstructions" >
        </textarea>
      </md-input-container>  
    </div>
    </md-card-content>

    <span *ngIf="(presses | async)">
      <md-select placeholder="Press" [(ngModel)]="values.press">
        <md-option *ngFor="let press of listpresses" [value]="press.name">{{ press.name }}</md-option>
      </md-select>
    </span>

  </md-card>

    <button md-raised-button (click)="Save()">Save</button>
</div>
